<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @var = @user %>

  <%= f.label :nombre %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <p>Cambiar contrase침a:</p>

  <%= f.label :nueva_contrase침a %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :confirmaci칩n_contrase침a %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-medium btn-default" %>
<% end %>