<div class="nav-side-menu">
  <aside>
    <section class="user_info">
        <%= gravatar_for(current_user, options = { size: 180 }) %>
        <br>
        <br>
        <br>
        <br>
      <h1 class='current_name'>
        <%= current_user.name %>
      </h1>
    </section>
  </aside>
  <br>
  <br>
  <br>            
  <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <li  data-toggle="collapse" data-target="#products" class="collapsed">
            <%=link_to "Nuevo Album", user_albums_path(current_user), method: "post" %>
        </li> 

        <li  data-toggle="collapse" data-target="#products" class="collapsed">
            <%=link_to "Mis álbumes", user_albums_path(current_user) %>
        </li>                          

        <ul class="sub-menu collapse" id="albums">
          <li>New Service 1</li>
          <li>New Service 2</li>
          <li>New Service 3</li>
        </ul>

        <li  data-toggle="collapse" data-target="#products" class="collapsed">
            <span class="arrow"><%=link_to "Mis Imagenes", current_user %></span>
        </li> 

        <li data-toggle="collapse" data-target="#service" class="collapsed">
          <span class="arrow"><%=link_to "Mis Pedidos", orders_path %><span>
        </li>
        
        <li data-toggle="collapse" data-target="#service" class="collapsed">
          <span class="arrow"><%=link_to "Direcciones", "" %><span>
        </li>

        </li>
      </ul>
  </div>
</div>