<div class="nav-side-menu">
  <aside>
    <section class="user_info">
        <%= gravatar_for(current_user, options = { size: 180 }) %>
        <br>
        <br>
        <br>
        <br>
      <h1 class='current_name'>
        <%= current_user.name %>
      </h1>
    </section>
  </aside>
  <br>
  <br>
  <br>            
  <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <li>
          <span class="fa fa-plus fa-lg"><%=link_to "Nuevo Album", user_albums_path(current_user), method: "post" %></span>
        </li> 

        <li>
            <span class="fa fa-book fa-lg"><%=link_to "Mis álbumes", user_albums_path(current_user) %></span>
        </li>                          

        <li>
          <span class="fa fa-picture-o fa-lg"><%=link_to "Mis Fotos", current_user %></span>
        </li> 

        <li>
          <span class="fa fa-shopping-cart fa-lg"><%=link_to "Mis Pedidos", orders_path %><span>
        </li>
        
        <li>
          <span class="fa fa-address-card-o fa-lg"><%=link_to "Direcciones", "" %><span>
        </li>
      </ul>
  </div>
</div>