<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div id="upload-photo">

    <%= form_for [@user,@photo], :photo => user_photos_path(@user.id), html: { multipart: true } do |f| %>
    <%#= render 'shared/error_messages', object: @var = @photo %>    
      <div class="field">
        <%= f.label :photo %><br>
        <%= f.file_field :photo, multiple: true %>
      </div>
      <div class="actions">
        <%= f.submit 'Upload', :class => 'btn btn-medium btn-primary', :id => 'upload' %>
      </div>
    <% end %>

    <% if !@user.photos.empty? %>
      <ul class="frames">
        <% @user.photos.reverse.each do |photo| %>
          <li>
            <img src="<%= photo.photo_url(:small) %>">
          </li>
        <% end %>
        <br>
      </ul>
    <% end %>

  </div>
</div>