<% provide(:title, @user.name) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
        <%= render 'navbar_user'%>
        </div>
        <% if session[:access_token] %>
          <%= render 'photos/insta_select'%>
        <% end %>
        <div class="col-md-9">
          <div class="row">
            <h1 class='title-page'>Mis imágenes</h1>
            <div class="col-md-6">
              <%= render 'photos/new' %>
            </div>
              <% if session[:access_token] %>
                <div class=" col-md-6 instagram get_photos">
                  <strong>
                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    <%= @client.user.username %></strong>
                    <br>
                  <%= link_to "Elegir fotos de mi Instagram", "" , id: "insta_link" %>
                </div>
              <% else %>
                <div class="col-md-6 instagram login">
                  <strong><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></strong>
                  <%= link_to "Sign in with Instagram", instagram_path, class: "btn btn-medium btn-default" %>
                </div> <!-- "col-md-4 instagram login" -->
              <% end %>
            </div>
            <div class="row index_photos">
              <div class="col-md-12">
                <% if !@user.photos.empty? %>
                  <div class="col-md-8 col-md-offset-2">            
                    <%= render 'photos/display' %>    
                  </div>
                <% end %>
              </div>
            </div> <!-- second row -->
        </div> <!-- col 9 -->
      </div> <!-- first row  -->
    </div> <!-- col 12 -->
  </div> <!-- row -->
</div>  <!-- container -->